:root {
  --primary: #00695C;
  --secondary: #4ECDC4;
  --background: #002b36;
  --primary-fg: #fff;
  --background-darker:#1c1c1e;
  --gradient: linear-gradient(to left top, var(--primary) 10%, var(--background) 90%) !important;
  --text-color: #fff;

}


.App {
  text-align: center;
  background-color: var(--background);
  color: white;
  min-height: 100vh;
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}




/* Header */

.header {
  background-color: var(--primary);
  padding: 1rem 2rem;
  background-color: var(--primary);
  padding: 1rem 2rem;
  position: sticky;
  top: 0; /* Mantiene el header en la parte superior */
  width: 100%;
  z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
  
}

.header *{
  color: #ffffff !important;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.navbar-brand:hover {
  color: #f1f1f1;
}

.navbar-nav {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}


.nav-link {
  text-decoration: none;
  font-size: 1.2rem;
}

.nav-link:hover {
  color: #adb5bd;
}


/* Footer */
.footer-wrapper{
  background-color: var(--background-darker);
}

/* Carousel */


.carousel-container {
  width: 100%;
  padding: 0 0 3rem 0;
}

.carousel-item img {
  height: 60vh !important;
  width: 100%;
  object-fit: cover; 

}

.carousel-caption {
  background-color: rgba(50, 50, 50, 0.6);
  border-radius: 8px;
  width: auto;
}






/* CardSlider */

.btn {
  border: 5px solid;
  border-image-slice: 1;
  background: var(--text-color) !important;
  border-image-source:  var(--gradient) !important; 
  text-decoration: none;
  transition: all .4s ease;
  color: var(--text-color);
}



.card-img-top {
  border-radius: 8px 8px 0 0 !important;
}
@media (width <= 1600) {
  .card-custom, .media-slider .col-md-3 {
    width: 100 !important;
  }

}

/* pagination */
.pagination *{
  background: var(--background) !important;
  color: var(--text-color) !important;
}

.pagination li, .pagination button{
  border: 1px solid;
  border-image-slice: 1;
  background:  var(--primary) !important;
  border-image-source: var(--gradient) !important;
  transition: all 0.4s ease;
  color: var(--text-color) ;


} 

.pagination li:hover, .pagination button {
  background: lighten(var(--background-darker), 50%) !important; 
  box-shadow: #222 1px 0 10px;
  color: var(--primary);
}



.favoritos-wrapper{
  height: 400px;
  display: grid;
  place-items: center;
}


.container-detail{
  border-radius: 8px;
  background-color: var(--primary);
}


.lista-generos *{
  list-style-type: none;
  text-align: left;
}